<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LINQToSQL.Properties.Settings.C_MasterclassConnectionString"
            connectionString="Data Source=DESKTOP-MVS9JN8\SQLEXPRESS01;Initial Catalog=C#Masterclass;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>